/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@font-face {
    font-family: 'NexaHeavy'; 
	src: url('../fonts/NexaHeavy.ttf');
}

@font-face {
    font-family: 'Open_Sans_Bold'; 
	src: url('../fonts/Open_Sans_Bold.ttf');
}

@font-face {
    font-family: 'Open_Sans'; 
	src: url('../fonts/Open_Sans.ttf');
}

@font-face {
    font-family: 'Open_Sans_Semi_Bold'; 
	src: url('../fonts/Open_Sans_Semi_Bold.ttf');
}

*{
	box-sizing: border-box;
}

.top_block{
	background: url(../images/top_block_bg.jpg) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.container_header{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 18px 0 129px;
	text-align: center;

	h1{
		font-family: 'NexaHeavy';
		font-size: 42px;
		line-height: 44px;
		color: #fff;
		margin-bottom: 25px;
	}

	h4{
		font-size: 20px;
		line-height: 22px;
		font-family: 'Open_Sans';
		color: #fff;
		margin-bottom: 58px;
	}
}

#menu_mobile_open{
	display: none;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: url(../images/menu_header.png) center no-repeat;
	border: none;
	cursor: pointer;
}

#menu_mobile_close{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	height: 20px;
	background: url(../images/close_menu.png) center no-repeat;
	border: none;
	cursor: pointer;
}

#menu_mobile{
	position: fixed;
	width: 250px;
	height: 100%;
	left: -250px;
	top: 0;
	background-color: rgba(0,0,0, 0.9);
	padding: 40px 0 0 0;
  z-index: 10;

	.drop_list{
		margin: 30px 0 0;
		text-align: left;
		
		&__item{
			width: 100%;

			a{
				width: 100%;
				height: 100%;
				display: block;
				color: #fff;
				text-decoration: none;
				font-size: 18px;
				line-height: 20px;
				padding: 6px 0 6px 20px;
				font-family: 'NexaHeavy';
			}

			a:hover{
				background-color: #ccc;
				color: #000;
			}
		}
	}
}

.header{
	overflow: hidden;
	margin-bottom: 136px;
	position: relative;

	&__logo{
		float: left;
		width: 114px;
		height: 38px;

		a{
			display: block;

			img{
				width: 100%;
				height: 100%;
			}
		}
	}
}

.nav{
	float: right;
	margin-top: 1px;
}

.list{

	&__item{
		display: inline-block;
		margin-left: 33px;

		a{
			text-decoration: none;
			color: #fff;
			display: block;
			font-family: 'NexaHeavy';
			font-size: 13px;
			line-height: 15px;
		}
	}

	&__item:last-child{
		background-color: #1db1ae;
		border-radius: 20px;

		a{
			padding: 11px 8px 9px 19px;

			span{
				background-color: #f35f52;
				color: #fff;
		    padding: 1px 7px 0px 4px;
				border-radius: 50%;
				font-family: 'Open_Sans_Bold';
				font-size: 11px;
				line-height: 13px;
				margin-left: 4px;
			}
		}
	}
}

.top_block_form{
	max-width: 841px;
	width: 100%;
	margin: 0 auto 24px;
	padding: 13px;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 10px;
}

.head_form{

	&__location{
		height: 50px;
		width: 100%;
		border-radius: 5px;
		margin-bottom: 11px;
		padding-left: 32px;
		background: #fff url(../images/location.png) left 20px center no-repeat;

		input{
			border: none;
			color: #8a8a8a;
			float: left;
	    padding: 15px 0 15px 14px;
	    font-size: 16px;
	    line-height: 20px;
	    font-family: 'Open_Sans';
	    max-width: 500px;
	    width: 96%;
		}
	}

	&__location:after,
	&__location:before{
		display: table;
		clear: both;
		content: "";
	}

	&__checkbox{
		overflow: hidden;
		width: 100%;

		.form_btn{
			float: right;
			width: 100px;
			height: 50px;
			color: #fff;
			border: none;
			border-radius: 3px;
			font-size: 14px;
			line-height: 16px;
			font-family: 'NexaHeavy';
			background: #1db1ae url(../images/top_form_btn.png) left 20px center no-repeat;
			padding: 0 0 0 17px;
		}	
	}
}

.form_date{

	p{
		input{
			cursor: pointer;
		}
	}
}

.checkbox_list{
	max-width: 704px;
	width: 100%;
	float: left;
	padding: 16px 16px 15px 54px;
	border-radius: 5px;
  display: flex;
	justify-content: space-between;
	background: #fff url(../images/checkbox_clients.png) left 20px center no-repeat;

	&__item{
    margin-top: 1px 9px 0 0;
	}
}

.checkbox_list__box{
	strong{
		font-family: 'Open_Sans';
		font-size: 16px;
		line-height: 18px;
		color: #000;
	}

	span{
		font-family: 'Open_Sans';
		font-size: 12px;
		line-height: 14px;
		color: #949494;
	}
}

.form_btn{
	width: 100px;
	height: 40px;
	margin: 0 auto;
}

.checkbox {
  display: none;
}

.checkbox-custom {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    background:none;
    border-radius: 2px;
}
.checkbox-custom{
    display: inline-block;
    vertical-align: top;
}
.checkbox:checked + .checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background: url(../images/arrow_checkbox.png) center no-repeat;
}

.label_checkbox{
	width: 16px;
	height: 16px;
}

.form_date{
	position: relative;
	max-width: 242px;
	width: 100%;
	float: right;
	border-left: 1px solid #dadada;
	padding: 0 0 0 36px;
	cursor: pointer;
	background: url(../images/date_icon.png) left 20px top 16px no-repeat;

	p{
		input{
			background: url(../images/drop_arrow.png) right 9px center no-repeat;
		}
	}
}

.link_contact{
	margin-bottom: 40px;
	font-family: 'Open_Sans_Semi_Bold';
	font-size: 16px;
	line-height: 18px;
	color: #fff;

	a{
		color: #fff;
		text-decoration: none;
	}

	a:hover{
		text-decoration: underline;
	}
}

.link_works{
	font-size: 14px;
	line-height: 16px;
	font-family: 'NexaHeavy';
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	width: 150px;
	height: 50px;
	display: block;
	padding-top: 15px;
	margin: 0 auto;
}

@media only screen and(max-width: 1180px){

	.container_header{
		padding: 18px 15px 100px;
	}
}

@media only screen and(max-width: 880px){

	.header__menu .list__item {
		margin-left: 27px;
	}

	.checkbox_list{
		max-width: 370px;
		padding: 16px 16px 15px 50px;
		text-align: left;

		&__item{
			margin-right: 20px;

			&__box{

				&>span{
					display: none;
				}
			}
		}
	}

.checkbox_list__box{

	&>span{
		display: none;
	}
}

	.head_form{

		&__location{
			input{
				max-width: 300px;
			}
		}
	}
}

@media only screen and(max-width: 670px){

	.nav,
	.checkbox_list{
		display: none;
	} 

	.header{

		&__logo{
			float: none;
			margin: 0 auto;
		}
	}

	#menu_mobile_open{
		display: block;
	}

	.checkbox:checked + .checkbox-custom::before {
	    content: "";
	    display: block;
	    position: absolute;
	    top: 1px;
	    right: 1px;
	    bottom: 1px;
	    left: 1px;
	    background: url(../images/arrow_checkbox_white.png) center no-repeat;
	}

	.top_block_form{
		display: none;
	}

	.container_header h1 {
	    font-size: 28px;
	    line-height: 30px;
	    margin-bottom: 10px;
	}

	.header{
		margin-bottom: 50px;
	}

	.container_header h4 {
	    font-size: 13px;
	    line-height: 15px;
	    margin-bottom: 10px;
	}

	.link_contact {
	    margin-bottom: 15px;
	    font-size: 12px;
	    line-height: 14px;
	}

	.link_works {
	    font-size: 9px;
	    line-height: 12px;
	    width: 100px;
	    height: 30px;
	    padding-top: 9px;
	}

	.container_header {
	    padding: 18px 15px 50px;
	}
}


@media only screen and(max-width: 450px){

	.container_header h1 {
	    font-size: 22px;
	    line-height: 34px;
	}

	.header{
		margin-bottom: 30px;
	}

	.container_header h4 {
	    width: 200px;
	    margin: 0 auto 10px;
	}

	.link_contact {
	    font-size: 13px;
	    line-height: 15px;
	}
}

/////////////////////////////////////////////////////////////////////////

.hotel{
	background-color: #efefef;
	text-align: center;
	padding-top: 55px;

	h4{
		color: #000;
		font-size: 30px;
		line-height: 32px;
		font-family: 'NexaHeavy';
	}
}

.hotel_list{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 55px 0 24px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;

	&__item{
		max-width: 267px;
		width: 100%;
		position: relative;
		text-align: center;
		margin-bottom: 35px;
		background-color: #fff;
		padding-bottom: 25px;

		img{
			margin-bottom: 44px;
			width: 100%;

		}

		h5{
			color: #1db1ae;
			font-size: 18px;
			line-height: 20px;
			font-family: 'Open_Sans_Semi_Bold';
			margin-bottom: 3px;
		}

		h6{
			font-size: 15px;
			line-height: 17px;
			color: #5e5e5e;
			font-family: 'Open_Sans_Semi_Bold';
			margin-bottom: 6px;
		    letter-spacing: -0.2px;
		}

		p{
			font-family: 'Open_Sans_Semi_Bold';
			font-size: 11px;
			line-height: 13px;
			color: #b3b3b3;
		    margin-bottom: 23px;
		}

		h4{
			font-size: 22px;
			line-height: 24px;
			color: #000;
			font-family: 'Open_Sans_Bold';
			margin: 20px 0 2px;
		}
	}
}

.hotel_list_logo{
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #fff;
	top: 151px;
	left: 103px;
	padding: 3px;


	a{
		display: block;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
		}
	}
}

.hotel_link{
	width: 86px;
	height: 28px;
	color: #fff;
	background-color: #1db1ae;
	font-family: 'Open_Sans_Bold';
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	display: block;
	margin: -4px auto 0;
	padding: 7px 0 0;
	text-decoration: none;
	border-radius: 14px;
}


@media only screen and(max-width: 1180px){
	
	.hotel_list{
		padding: 30px 15px;
	}
}

@media only screen and(max-width: 1120px){
	
	.hotel_list {
	    justify-content: space-around;
	}

	.hotel_list__item {
	    max-width: 335px;

	    img{
    	    margin-bottom: 25px;
	    }
	}

	.hotel_list_logo {
	    top: 196px;
	    left: 141px;
	}

	.hotel_list__item h4 {
	    margin: 10px 0 5px;
	}
}

@media only screen and(max-width: 768px){
	
	.hotel_list__item {
	    max-width: 500px;
	}

	.hotel_list_logo {
	    top: 306px;
	    left: 218px;
	}
}

@media only screen and(max-width: 550px){
	
	.hotel_list__item {
	    max-width: 300px;
	}

	.hotel_list_logo {
	    top: 173px;
	    left: 122px;
	}

	.hotel_list {
	    padding: 30px 0px;
	}
}

////////////////////////////////////////////////////////////////////////

.desc_img{
	width: 387px;
	height: 384px;

	img{
		width: 100%;
		height: 100%;
	}
}

.slider_container{
	background-color: #95e7d1;
	padding-top: 150px;
	height: 635px;
}

.slider_progress_bar{
	padding-bottom: 148px;
}

.container {
    max-width: 946px;
    width: 100%;
    margin: 0px auto;
}

.pc_container {
    max-width: 952px;
    width: 100%;
    height: 556px;
}

.pc_item {
    max-width: 952px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: none !important;
}

.pc_bar_container_underflow {
    width: 90000px;
    overflow: visible;
}

.pc_bar_container {
    position: absolute;
    top: 525px;
    width: 100%;
}

.pc_bar_container_overflow {
    position: absolute;
    top: 525px;
}

.left,
.center,
.right {
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 0px;
    float: left;
}

.bar{
    background-position: left;
    overflow: hidden;
    float: left;
    width: 230px !important;
}

.desc {
	max-width: 461px;
	width: 100%;
    float: right;
    margin-top: 74px;
	color: #fff;

	h4{
	    font-size: 40px;
	    line-height: 42px;
	    font-family: 'NexaHeavy';
        margin-bottom: 23px;
	}

	p{
		font-family: 'Open_Sans';
		font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.5px;
	}
}

.list_personer{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.list_personer__item{
    text-align: center;
}

.list_personer__item strong{
    color: #000;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Open_Sans_Bold';
    letter-spacing: 1.3px;
}

.list_personer__item p{
    color: #c8c8c8;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Open_Sans_Semi_Bold';
    margin: 3px 0 0 0;
}

///////////////////////////////////////////////////////////////////

.slick_slider{
	background-color: #1db1ae;
	padding: 75px 0 83px;
	text-align: center;

	h4{
		margin-bottom: 64px;
		color: #fff;
		font-size: 30px;
		line-height: 32px;
		font-family: 'NexaHeavy';
	}
}

.regular{
	max-width: 952px;
	width: 100%;
	margin: 0 auto;
}

.slick_item{
	position: relative;
	cursor: pointer;
	
	p{
		font-family: 'Open_Sans';
		font-size: 18px;
		line-height: 25px;
		color: #fff;
		margin-bottom: 23px;
	}

	strong{
		font-size: 16px;
		line-height: 23px;
		font-family: 'Open_Sans_Semi_Bold';
		color: #fff;
	}

	span{
		font-family: 'Open_Sans';
		font-size: 14px;
		line-height: 16px;
		color: #fff;
	}
}

.slick_item_author{
	width: 90px;
	height: 90px;
	margin: 18px auto 8px;

	a{
		display: block;
		width: 100%;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
		}
	}
}

.slick-slide{
    padding: 0 25px;
    margin: 0;
    text-align: center;
}

/////////////////////////////////////////

.footer{
	background-color: #262626;

	&__container{
		max-width: 1140px;
		width: 100%;
		margin: 0 auto;
		padding: 48px 0 41px;
		overflow: hidden;
	}

	&__logo{
		float: left;
		width: 43px;
		height: 57px;
	    margin-top: 10px;

		a{
			width: 100%;
			height: 100%;
			display: block;

			img{
				width: 100%;
				height: 100%;
			}
		}
	}

	&__wrap{
		float: right;
		max-width: 1046px;
		width: 100%;
	}

	&__nav-list{
		width: 100%;
		display: flex;
		justify-content: space-between;

		&__item{

			a{
				color: #fff;
				text-decoration: none;
				font-family: 'NexaHeavy';
				font-size: 13px;
				line-height: 15px;
				display: block;
			}

			&--arrow{
				background: url(../images/footer_list_arrow.png) right center no-repeat;
				padding-right: 12px;
			}
		}

		&__item:last-child{

			a{
				color: #208785;
			}
		}
	}

	&__separator{
		margin: 16px 0;
		color: #4c4c4c !important;
	}

	&__bottom{
		overflow: hidden;
	}

	&__social{
		float: right;
    margin-top: -1px;
	}

	&__social-list{

		&__item{
			display: inline-block;
			margin-left: 12px;

			a{
				display: block;
				width: 100%;
				height: 100%;

				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	&__menu{
		float: left;
	}

	&__menu-list{
		    padding: 0 3px;

		&__item{
			display: inline-block;
			margin-right: 27px;

			a{
				text-decoration: none;
				display: block;
				color: #909393;
				font-size: 13px;
				line-height: 15px;
				font-family: 'Open_Sans';
			}
		}
	}
}

@media only screen and(max-width: 1190px){

	.footer__wrap {
	    max-width: 800px;
	}

	.footer__container {
	    padding: 50px 15px 45px;
	}
}

@media only screen and(max-width: 1099px){
	
	.regular {
	    max-width: 600px;
	}

	.slick_slider h4 {
	    margin-bottom: 24px;
	}

	.slick_slider {
	    padding: 34px 0;
	}

	.slick_item p {
	    margin: 0 auto 20px;
	    width: 275px;
	}

	.slick-slide {
	    padding: 0;
	    margin: 0;
	}

	.container {
	    padding: 0 15px;
	}

	.bar{
	    width: 210px !important;
	}

	.slider_container {
	    padding-top: 50px;
	    height: 540px;
	}

	.desc {
	    max-width: 350px;
	    margin: 77px 35px 0 0;
	}

	.desc h4 {
	    font-size: 26px;
	    line-height: 28px;
	}

	.desc p {
	    font-size: 14px;
	    line-height: 17px;
	    letter-spacing: 0;
	}

	.pc_container {
	    max-width: 952px;
	    width: 100%;
	    height: 577px;
	}

	.list_personer__item strong {
	    font-size: 17px;
	    line-height: 19px;
	}

	.list_personer__item p {
	    font-size: 9px;
	    line-height: 11px;
	}
}

@media only screen and(max-width: 903px){

	.footer__nav-list__item a {
	    font-size: 10px;
	    line-height: 12px;
	}

	.footer__wrap {
	    max-width: 650px;
	}

	.bar{
	    width: 190px !important;
	}

	.desc_img {
	    width: 100px;
	    height: 100px;
	    margin: 0 auto;
	}

	.desc {
	    margin: 0 auto 15px;
	    float: none;
	    text-align: center;
	}

	.slider_container {
	    height: 300px;
	}

	.pc_container {
	    height: 320px;
	}

	.pc_bar_container{
		top: 272px;
	}

	.pc_bar_container_overflow {
	    top: 272px;
	}

	.pc_item{
		height: 400px;
	}

	.slider_progress_bar {
	    padding-bottom: 125px;
	}
}

@media only screen and(max-width: 825px){

	.bar{
	    width: 170px !important;
	}
}

@media only screen and(max-width: 768px){
	
	.footer__separator,
	.footer__nav-list {
	    display: none;
	}

	.footer__wrap {
	    max-width: 300px;
        margin-top: 15px;
	}

	.footer__menu-list__item {
	    margin-right: 7px;
	}

	.regular {
	    max-width: 300px;
	}
	
	.hotel{
		padding-top: 28px;
	}

	.hotel h4 {
	    font-size: 20px;
	    line-height: 22px;
	}

	.bar{
	    width: 130px !important;
	}
}

@media only screen and(max-width: 600px){
	
	.bar{
	    width: 100px !important;
	}

	.list_personer__item strong {
	    font-size: 14px;
	    line-height: 16px;
	}

	.list_personer__item p {
	    font-size: 8px;
	    line-height: 10px;
	}
}

@media only screen and(max-width: 480px){

	.slick-next,
	.slick-prev{
		width: 15px;
		height: 21px;
	}

	.slick-prev {
	    background: url(../images/arl.png) center no-repeat;
	    left: -50px;
	}

	.slick-next {
	    background: url(../images/arr.png) center no-repeat;
	    right: -50px;
	}

	.bar{
	    width: 70px !important;
	}
}

@media only screen and(max-width: 420px){

	.footer_bottom__menu {
	    display: none;
	}

	.footer__wrap {
	    max-width: 150px;
	}

	.slick-next,
	.slick-prev{
		display: none !important;
	}

	.slick_slider h4 {
	    font-size: 21px;
	}

	.footer__container {
	    padding: 20px;
	}

	.desc_img {
	    width: 70px;
	    height: 70px;
	}

	.footer__menu{
		display: none;
	}

}

@media only screen and(max-width: 350px){

	.bar{
	    width: 60px !important;
	}

	.list_personer__item strong {
	    font-size: 13px;
	    line-height: 15px;
	}

	.list_personer__item p {
	    font-size: 7px;
	    line-height: 9px;
	}

	.desc {
	    max-width: 270px;
	}

	.desc h4 {
	    font-size: 18px;
	    line-height: 20px;
	}
}